keystore
pass

.idea/
.nuxt/
.envrc
node_modules/
dist/
.env
.DS_Store
*.retry
yarn.lock
sw.js

# Contract builds
build/*
!/build/contracts
/build/contracts/*
!build/contracts/Hero.json
!build/contracts/HeroAsset.json
!build/contracts/HeroManager.json
!build/contracts/Extension.json
!build/contracts/ExtensionAsset.json
!build/contracts/ExtensionManager.json
!build/contracts/Register.json
!build/contracts/User.json
!build/contracts/DeckManager.json
!build/contracts/Rank.json

