keystore
pass

.idea/
.nuxt/
.envrc
node_modules/
dist/
.env
.DS_Store
*.retry
yarn.lock

# Contract builds
build/*
!/build/contracts
/build/contracts/*
!build/contracts/HeroManager.json
!build/contracts/Register.json
!build/contracts/User.json
